<!DOCTYPE html>
<html>

<head>
    <title>Register</title>

    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/assets/css/vend-peg.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="/assets/js/jquery-3.1.0.min.js" crossorigin="anonymous"></script>

    <!-- <script src="/assets/js/pay.js"></script> -->
</head>

<div class="container center">

    <div class="jumbotron text-xs-center">
        <h1 class="display-3">Welcome!</h1>
        <p class="lead">
            We don't recognise this register, but don't worry.
        </p>
        <p>Generate a token in your Oxipay Merchant Portal and enter it below to register.</p>


        <div class="form-group">
            <form action="/register" method="POST" id="paymentform" enctype="application/x-www-form-urlencoded">
                <div class="form-group">
                    <label for="MerchantID" class="form-check-label">Merchant ID</label>
                    <input  name="MerchantID" id="MerchantID" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="paymentcode" class="form-check-label">Device Token</label>
                    <input  name="DeviceToken" id="DeviceToken" class="form-control" />
                </div>
                <div>
                        <input type="submit" class="vd-button vd-button--primary" value="Register"  />
                        <input type="submit" class="vd-button vd-button--secondary" value="Cancel" />
                </div>                
            </form>
        </div>
        <hr>
        <p>
            Having trouble? Contact us by
            <a href="mailto:pit@oxipay.com.au"></a>email</a> or call
            <span class="phone">+61 884641835</span> or
            <span class="phone">+64800729237</span>
        </p>
    </div>

</div>

</html>